Button {
    border-radius: 5;
    color: black;
    height: 60;
    width: 300;
    font-weight: 600;
}

.btn-language {
    background-color: gray;
}

.btn-photo {
    background-color: orange;
}


